# Configuration file for the TP

#Please modify the config.properties with the path you want

# PATH_TO_REPOSITORY: is the path to the folder 
# we want to check complexity for

PATH_TO_REPOSITORY=<Absolute path to dir>

COMMENT_TYPES=[//, /* */, /** */]
COMMENT_REGEX=((\s*//s*)|((^\s*)(/[*]*))|([*]/)|([*]))
LANGUAGE_EXTENSION=java